.api-wrapper {
    background-color: aquamarine;
    height: calc(100vh - 70px);
    overflow: scroll;
}

.item {
    width: 90%;
    height: 80px;
    border: 1px solid black;
    margin: 20px auto;
    border-radius: 5px;
    background: #ff9900;
}

.example-accordion-item-body {
    width: 90%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.api-testing-content {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    background: cornsilk;
}

.api-two-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.api-two-column input {
    margin: 20px auto;
    width: 250px;
}

.header-api {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    line-height: 80px;
    cursor: pointer;
}
