* {
  margin: 0 auto;
}

.inspection-management {
  text-align: center;
  margin: 0px auto;
  font-size: 50px;
  padding-top: 80px;
  line-height: 45px;
}

.management-border {
  margin-top: 35px;
  max-width: 70%;
  height: auto;
  border: 1px solid;
  padding: 10px 0px;
}

.management-text {
  height: auto;
  min-height: 20px;
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
}

.management-text-b {
  height: auto;
  min-height: 20px;
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
  color: black;
}

a {
  text-decoration: none;
}

.management-text-header {
  height: auto;
  min-height: 30px;
  font-size: 36px;
  margin: 0px auto;
  text-align: center;
  font-family: cursive;
  width: 80%;
  line-height: 45px;
}

.empty-data {
  display: flex;
  flex-direction: column;
}
