<mat-drawer-container class="menu-container" autosize>
  <mat-drawer #drawer class="menu-sidenav" mode="side">
    <div class="menu-item-name"> {{userData.user.name}} </div>
    <div class="menu-circle">
      <img src="https://acomics.ru/upload/avatar/id63576-m0f3mi95w4.jpg" alt=""/>
    </div>
    <ul>
      <li><a routerLink="/main/main-page" class="menu-item" >Главная </a></li>
      <li><a routerLink="/main/user-form" class="menu-item">Провести осмотр</a></li>
      <li><a routerLink="/main/management" class="menu-item">История осмотров</a></li>
      <li><a routerLink="/main/schedule" class="menu-item">Мое расписание</a></li>
      <li><a routerLink="/main/account-settings" class="menu-item">Настроить аккаунт</a></li>
      <li><a (click)="logout()" class="menu-item">Выход</a></li>
    </ul>
  </mat-drawer>

  <div class="menu-sidenav-content">
    <div class="menu">
      <mat-icon *ngIf="!drawer.opened;else close" (click)="drawer.toggle()" class="icon">menu</mat-icon>
      <ng-template #close>
        <mat-icon (click)="drawer.toggle()" class="icon">close</mat-icon>
      </ng-template>
      <p class="menu-text"> Medical Project</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
