.menu-container {
  border: none;
  height: 100vh;
  margin-top: 0px;
  background: none;
}

.menu-sidenav {
  padding: 20px;
}

.menu {
  width: 100%;
  height: 70px;
  background-color: purple;
  top: 0;
}

.menu-text {
  margin-top: -41px;
  font-size: 30px;
  color: #ffffff;
  margin-left: 104px;
}

.menu-item {
  display: block;
  margin-top: 0px;
  padding: 10px 0px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-left: -30px;
}

.menu-item-name {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.menu-circle {
  margin: 10px auto -5px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid;
  overflow: hidden;
}

ul {
  list-style: none;
}

.menu-item:hover {
  background-color: #ffffff;
}

.menu-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0px;
  position: fixed;
  width: 100%;
}

.icon {
  margin-left: 40px;
  font-size: 51px;
  color: white;
  margin-top: 10px;
}

.list {
  background: none;
  outline: 0;
  border: 0;
  position: absolute;
  bottom: 40px;
  right: 30px;
}
