<div class="user-information">
<p class="user-information-text">Анкета пользователя </p>
  <div class="user-information-border">
    <div class="user-information-circle">
      <img src="https://sun1-22.userapi.com/s/v1/if1/X5S1-3jt6JnYSoGlEme1_qfDEyw6YWyN0mlexanIiXSSy8xhcfF467-z5hVgYHECnOzoYYm8.jpg?size=200x200&quality=96&crop=99,0,600,600&ava=1" alt=""/>
    </div>
  <div class="information-text">
    <p class="information">Имя</p>
  </div>
  <div class="information-text">
    <p class="information">Почта</p>
  </div>
  <div class="information-text">
    <p class="information"> Дата рождения</p>
  </div>
  <div class="information-text">
    <p class="information"> Телефон</p>
  </div>
    <div class="information-text">
      <p class="information"> Страна</p>
    </div>

    <div class="information-text">
      <p class="information">Город</p>
    </div>
  </div>

</div>
