<ng-container *ngIf="!(isLoading$ | async) else loading">
  <ng-container *ngIf="isLogin else registration">
    <form [formGroup]="loginForm" class="login-box">
      <div class="circle"><h1 class="circle-logo">Logo</h1></div>
      <div>
        <label for="login" class="login-user-box"></label>
        <input class="login-box-email" formControlName="name" type="text" id="login" placeholder="login" required>
      </div>
      <div>
        <label for="password" class="login-user-box"></label>
        <input class="password-box-email" formControlName="password" type="password" id="password" placeholder="password" required>
      </div>
      <p class="forgot-password">Forgot password?</p>
      <div>
        <button class="button-registration" (click)="login()" [disabled]="loginForm.invalid">
          <span></span>
          Sign In
        </button>
        <div class="word-between-button"><p>or</p></div>
        <button class="button-login-google">
          Sign In with Google
        </button>
      </div>
      <div class="button-login">
        <p class="registration-text">Don't have an account?<strong class="registration-word" (click)="isLogin = false">Sing
          Up</strong></p>
      </div>
      <div class="welcome-paragraph">
        <p>Добро пожаловать<br>в <b class="word-one-pro">Pro</b><b class="word-two-med">Med</b>!<br>Начни работу
          прямо<br> сейчас.</p>
      </div>
    </form>
  </ng-container>
  <ng-template #registration>
    <form [formGroup]="registrationForm" class="login-box">
      <h2>Registration</h2>
      <div class="user-box">
        <label>.</label>
        <input class="registration-box-email" formControlName="name" type="text" id="name" placeholder="Your name">
      </div>
      <div class="user-box">
        <label>.</label>
        <input class="registration-box-email" formControlName="email" type="email" id="email" placeholder="Email">
      </div>
      <div class="user-box">
        <label>.</label>
        <input class="registration-box-email" formControlName="phone" type="phone" id="phone"
               placeholder="Phone number">
      </div>
      <div class="user-box">
        <label>.</label>
        <input class="registration-box-email" formControlName="password" type="password" id="reg-password"
               placeholder="Password">
      </div>
      <div class="user-box">
        <label>.</label>
        <input class="registration-box-email" formControlName="secondpass" type="password" id="sec-password"
               placeholder="The password again">
      </div>
      <div>
        <button class="registration-buttons" (click)="reg()">
          <span></span>
          Sign Up
        </button>
      </div>
      <div><p class="registration-word-or">or</p></div>
      <div>
        <button class="registration-buttons">
          Sign Up with Google
        </button>
      </div>
      <div>
        <p class="login-text">Have an account?<b class="login-word" (click)="isLogin = true">To come in</b></p>
      </div>
    </form>
  </ng-template>
</ng-container>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
