<p class="help-assist-main">Помощь</p>
<div class="container">
  <div class="help-text"> Как создать новый осмотр.
    <ol class="help-list">
      <li>Перейти в раздел меню "Провести осмотр"</li>
      <li>Заполнить все данные</li>
      <li>Нажать кнопку "Отправить"</li>
    </ol>
  </div>
  <div class="help-text"> Посмотреть историю осмотров.
    <ol class="help-list">
      <li>Перейти в раздел меню "История осмотров"</li>
      <li>Посмотреть сделаные осмотры</li>
    </ol>
  </div>
  <div class="help-text"> Настройка аккаунта.
    <ol class="help-list">
      <li>Перейти в раздел меню "Настроить аккаунт"</li>
      <li>Нажать кнопку "Редактировать аккаунт"</li>
      <li>Заменить данные</li>
      <li>Нажать кнопку "Отправить"</li>
    </ol>
  </div>
</div>
