* {
  margin: 0 auto;
}

.user-information {
   width: 100%;
    height: 100vh;
}

.user-information-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid;
  overflow: hidden;
}

.user-information-text {
  height: auto;
  min-height: 20px;
  font-size: 50px;
  padding-top: 88px;
  text-align: center;
  line-height: 42px;
}

.information-text {
  border: 1px solid;
  height: 0px;
  width: 50%;
  text-align: center;
  margin-top: 90px;
}

.information {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin: -55px auto;
  line-height: 25px;
}

.user-information-border {
  width: 100%;
  height: auto;
  margin-top: 36px;
}
