<p>menu works!</p>
<div class="menu">
  <p class="menu-text" >Menu</p>
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-btn" for="menu-toggle">
    <span></span>
  </label>
  <ul class="menu-box">
    <li><a class="menu-item" href="#">Главная</a></li>
    <li><a class="menu-item" href="#">Создать анкету</a></li>
    <li><a class="menu-item" href="#">Настройка профиля</a></li>
  </ul>
</div>
<p>hhhh1</p>
<p>hhhh2</p>
<p>hhhh3</p>
<p>hhhh4</p>
<p>hhhh5</p>
<p>hhhh6</p>
<p>hhhh7</p><p>hhhh</p><p>hhhh</p>
<p>hhhh8</p>
<p>hhhh9</p>
<p>hhhh9</p>
<p>hhhh10</p><p>hhhh</p>
<p>hhhh11</p>
<p>hhhh12</p>
<p>hhhh13</p>
<p>hhhh14</p>
<p>hhhh15</p>
<p>hhhh16</p>
<p>hhhh17</p>
<p>hhhh18</p>
<p>hhhh19</p>
