<mat-drawer-container class="menu-container" autosize>
  <mat-drawer  #drawer class="menu-sidenav" mode="side">
    <ul>
      <li><a class="menu-item" >Главная </a></li>
      <li><a routerLink="/user-form" class="menu-item">Создать анкету</a></li>
      <li><a class="menu-item">Настройка профиля</a></li>
      <li><a routerLink="/login" class="menu-item">Вход/Регистрация</a></li>
      <li><a routerLink="/testing" class="menu-item">Проверка API</a></li>
      <li><a routerLink="/management" class="menu-item">Проведенные осмотры</a></li>
      <li><a routerLink="/user-information" class="menu-item">Анкета пользователя</a></li>
    </ul>
  </mat-drawer>
  <div class="menu-sidenav-content">
    <div class="menu">
      <p class="menu-text"> Medical Project</p>
      </div>
      <div class="hamburger-menu">
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-btn" for="menu-toggle" mat-button (click)="drawer.toggle()">
          <span></span>
        </label>
    </div>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>

