<mat-drawer-container class="menu-container" autosize>
  <mat-drawer  #drawer class="menu-sidenav" mode="side">
    <ul>
      <li><a routerLink="/main" class="menu-item" >Главная </a></li>
      <li><a routerLink="/user-form" class="menu-item">Провести осмотр</a></li>
      <li><a routerLink="/management" class="menu-item">История осмотров</a></li>
      <li><a routerLink="/login" class="menu-item">Вход/Регистрация</a></li>
    </ul>
  </mat-drawer>

  <div class="menu-sidenav-content">
    <div class="menu">
      <mat-icon *ngIf="!drawer.opened;else close" (click)="drawer.toggle()" class="icon">menu</mat-icon>
      <ng-template #close>
        <mat-icon (click)="drawer.toggle()" class="icon">close</mat-icon>
      </ng-template>
      <p class="menu-text"> Medical Project</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
