<ng-container *ngIf="isLogin else registration">
  <form [formGroup]="loginForm" class="login-box">
    <h2>Вход</h2>
    <div class="user-box">
    <label> Почта</label>
        <input class="login-box-email" formControlName="email" type="email">
      </div>
    <div class="user-box">
    <label>Пароль</label>
        <input class="login-box-email" formControlName="password" type="password">
      </div>
    <div class="button-login">
      <button class="button-registration" (click)="login()">
        <span></span>
        Подтвердить
      </button>
      <button class="button-registration" (click)="isLogin = false">
        <span></span>
        Регистрация
      </button>
    </div>
  </form>
</ng-container>

<ng-template #registration>
  <form [formGroup]="loginForm" class="login-box">
    <h2>Регистрация </h2>
    <div class="user-box">
    <label> Почта</label>
        <input class="login-box-email" formControlName="email" type="email">
      </div>
    <div class="user-box">
    <label>Пароль</label>
        <input class="login-box-email" formControlName="password" type="password">
      </div>
    <div class="button-login">
      <button class="button-registration" (click)="login()">
        <span></span>
        Подтвердить
      </button>
      <button class="button-registration" (click)="isLogin = true">
        <span></span>
        Вход
      </button>
    </div>
    </form>
</ng-template>
