<ng-container *ngIf="!(isLoading$ | async) else loading">
  <ng-container *ngIf="isLogin else registration">
    <form [formGroup]="loginForm" class="login-box">
      <h2>Вход</h2>
      <div class="user-box">
        <label>Логин</label>
        <input class="login-box-email" formControlName="name" type="name">
      </div>
      <div class="user-box">
        <label>Пароль</label>
        <input class="login-box-email" formControlName="password" type="password">
      </div>
      <div class="button-login">
        <button class="button-registration" (click)="login()" [disabled]="loginForm.invalid">
          <span></span>
          Подтвердить
        </button>
        <button class="button-registration" (click)="isLogin = false">
          <span></span>
          Регистрация
        </button>
      </div>
    </form>
  </ng-container>

  <ng-template #registration>
    <form [formGroup]="registrationForm" class="login-box">
      <h2>Регистрация </h2>
      <div class="user-box">
        <label>Имя</label>
        <input class="login-box-email" formControlName="name" type="name">
      </div>
      <div class="user-box">
        <label> Почта</label>
        <input class="login-box-email" formControlName="email" type="email">
      </div>
      <div class="user-box">
        <label>Телефон</label>
        <input class="login-box-email" formControlName="phone" type="phone">
      </div>
      <div class="user-box">
        <label>Пароль</label>
        <input class="login-box-email" formControlName="password" type="password">
      </div>
      <div class="button-login">
        <button class="button-registration" (click)="reg()">
          <span></span>
          Подтвердить
        </button>
        <button class="button-registration" (click)="isLogin = true">
          <span></span>
          Вход
        </button>
      </div>
    </form>
  </ng-template>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
