<div class="General-class">
<div class="style">
  <h1 class="user-form-header">Анкета</h1>
<input type="text"  name="name" class="data-entry" placeholder="Введите своё имя">
  <input type="email"  name="email" class="data-entry" placeholder="Введите почту">
  <input type="date" name="date" class="data-entry" placeholder="Введите дату рождения ">
  <input class="phone-number" placeholder="Номер телефона">
  <select name="user_city" class="cities-and-countries">
    <option value="10">Россия</option>
    <option value="11">Украина</option>
    <option value="13">Америка</option>
    <option value="14">Китай</option>
  </select>
  <select name="user_city" class="cities-and-countries">
    <option value="1">Москва</option>
    <option value="2">Санкт-Петербург</option>
    <option value="3">Новосибирск</option>
    <option value="4">Киев</option>
    <option value="5">Харьков</option>
    <option value="6">Львов</option>
    <option value="7">Минск</option>
    <option value="8">Бобруйск</option>
    <option value="9">Гомель</option>
  </select>
  <button  type="button" name="run_script" >Отправить</button>
</div>
</div>
