<ng-container *ngIf="!(isLoading$ | async) else loading">
  <form [formGroup]="inspectionForm" class="inspections-conducted">
    <p class="inspections"> Провести осмотр</p>
    <div class="inspections-conducted-border">
      <label>Страна осмотра:</label> <input type="text" class="inspections-input" formControlName="country">
      <label>Дата осмотра:</label> <input type="date" class="inspections-input"  min="1920-01-01" max="2023-01-01" formControlName="date">
      <label>Врач:</label> <input type="text"  class="inspections-input" formControlName="doctor">
      <label>Описание осмотра:</label> <input type="text" class="inspections-input" formControlName="description">
      <button class="inspections-button"  (click)="createInspection()" [disabled]="inspectionForm.invalid">
      Отправить
      </button>
    </div>
  </form>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
