<div class="management">
  <p class="inspection-management">Сделанные осмотры </p>
    <div class="management-border">
      <p class="management-text-header">Осмотр 1</p>
      <p class="management-text"><b>Страна осмотра:</b><br/> USA</p>
      <p class="management-text"><b>Дата осмотра:</b><br/> 25.05.2022</p>
      <p class="management-text"><b>Пациент</b><br/> Матиек А.А.</p>
      <p class="management-text"><b>Описание осмотра:</b><br/> Во время осмотра выявлен насморк </p>
      <a href=""><b><p class="management-text-b">Cм.Анкету</p></b></a>
    </div>

    <div class="management-border">
      <p class="management-text-header">Осмотр 2</p>
      <p class="management-text"><b>Страна осмотра:</b><br/> USA</p>
      <p class="management-text"><b>Дата осмотра:</b><br/> 25.05.2022</p>
      <p class="management-text"><b>Пациент</b><br/> Матиек А.А.</p>
      <p class="management-text"><b>Описание осмотра:</b><br/> Во время осмотра выявлен насморк </p>
      <a href=""><b><p class="management-text-b">Cм.Анкету</p></b></a>
    </div>

    <div class="management-border">
      <p class="management-text-header">Осмотр 3</p>
      <p class="management-text"><b>Страна осмотра:</b><br/> USA</p>
      <p class="management-text"><b>Дата осмотра:</b><br/> 25.05.2022</p>
      <p class="management-text"><b>Пациент</b><br/> Матиек А.А.</p>
      <p class="management-text"><b>Описание осмотра:</b><br/> Во время осмотра выявлен насморк </p>
      <a href=""><b><p class="management-text-b">Cм.Анкету</p></b></a>
    </div>

  <div class="management-border">
    <p class="management-text-header">Осмотр 4</p>
    <p class="management-text"><b>Страна осмотра:</b><br/> USA</p>
    <p class="management-text"><b>Дата осмотра:</b><br/> 25.05.2022</p>
    <p class="management-text"><b>Пациент</b><br/> Матиек А.А.</p>
    <p class="management-text"><b>Описание осмотра:</b><br/> Во время осмотра выявлен насморк </p>
    <a href=""><b><p class="management-text-b">Cм.Анкету</p></b></a>
  </div>

  <div class="management-border">
    <p class="management-text-header">Осмотр 5</p>
    <p class="management-text"><b>Страна осмотра:</b><br/> USA</p>
    <p class="management-text"><b>Дата осмотра:</b><br/> 25.05.2022</p>
    <p class="management-text"><b>Пациент</b><br/> Матиек А.А.</p>
    <p class="management-text"><b>Описание осмотра:</b><br/> Во время осмотра выявлен насморк </p>
    <a href=""><b><p class="management-text-b">Cм.Анкету</p></b></a>
  </div>

  <div class="management-border">
    <p class="management-text-header">Осмотр 6</p>
    <p class="management-text"><b>Страна осмотра:</b><br/> USA</p>
    <p class="management-text"><b>Дата осмотра:</b><br/> 25.05.2022</p>
    <p class="management-text"><b>Пациент</b><br/> Матиек А.А.</p>
    <p class="management-text"><b>Описание осмотра:</b><br/> Во время осмотра выявлен насморк </p>
    <a href=""><b><p class="management-text-b">Cм.Анкету</p></b></a>
  </div>
</div>

